In [7]:
# define libraries to use
import pandas as pd
import numpy as np
from pathlib import Path

# variables that need initialization

# dict of dataframes
# FARS
farsDf = {}
# CRRS
crssDf = {}

# Main Table
farsmainTbl = "accident"
farskey = "ST_CASE"
crssminTbl = "accident"
crsskey = "CASENUM"

def bulkreadcsv2df(myFolder, printProgress = False, lowMemory = True):
    """read each csv file in a folder into a df, each df added to as a separate dictionary entry with index a filename"""
    p = Path(myFolder)
    resDct = {}
    FileList = list(p.glob("*.CSV")) + list(p.glob("*.csv"))
    for File in FileList:
        dfName = File.stem.lower()
        if printProgress:
            print("Reading ",dfName)
        resDct[dfName] = pd.read_csv(str(File),encoding = 'unicode_escape', low_memory=lowMemory)

    return resDct

In [8]:
farsDf = bulkreadcsv2df("data/FARS2020NationalCSV/", lowMemory= False)
crssDf = bulkreadcsv2df("data/CRSS2020CSV/", lowMemory= False)
print("FARS Tables = ",list(farsDf.keys()))
print("CRSS Tables = ",list(crssDf.keys()))

FARS Tables =  ['safetyeq', 'vpictrailerdecode', 'pbtype', 'midrvacc', 'miacc', 'damage', 'accident', 'vsoe', 'vpicdecode', 'crashrf', 'drimpair', 'nmimpair', 'parkwork', 'driverrf', 'drugs', 'maneuver', 'vehiclesf', 'miper', 'weather', 'personrf', 'factor', 'pvehiclesf', 'violatn', 'vevent', 'nmprior', 'nmdistract', 'distract', 'nmcrash', 'vision', 'vehicle', 'person', 'race', 'cevent']
CRSS Tables =  ['safetyeq', 'vpictrailerdecode', 'vehicle', 'pbtype', 'damage', 'accident', 'vsoe', 'vpicdecode', 'crashrf', 'drimpair', 'nmimpair', 'parkwork', 'driverrf', 'maneuver', 'vehiclesf', 'weather', 'personrf', 'person', 'factor', 'pvehiclesf', 'violatn', 'vevent', 'nmprior', 'nmdistract', 'distract', 'nmcrash', 'cevent', 'vision']

In [12]:
print("                               F    A    R    S                                                           ")
for idx in farsDf.keys():
    print("==========================================================================================================")
    print("=                                                                                                        =")
    print("=",idx)
    farsDf[idx].info()
    print("=                                                                                                        =")
    print("==========================================================================================================")

==========================================================================================================
=                                                                                                        =
= safetyeq
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8172 entries, 0 to 8171
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   STATE         8172 non-null   int64
 1   STATENAME     8172 non-null   object
 2   ST_CASE       8172 non-null   int64
 3   VEH_NO        8172 non-null   int64
 4   PER_NO        8172 non-null   int64
 5   NMHELMET      8172 non-null   int64
 6   NMHELMETNAME  8172 non-null   object
 7   NMPROPAD      8172 non-null   int64
 8   NMPROPADNAME  8172 non-null   object
 9   NMOTHPRO      8172 non-null   int64
 10  NMOTHPRONAME  8172 non-null   object
 11  NMREFCLO      8172 non-null   int64
 12  NMREFCLONAME  8172 non-null   object
 13  NMLIGHT       8172 non-null   int64
 14  NMLIGHTNAME   8172 non-null   object
 15  NMOTHPRE      8172 non-null   int64
 16  NMOTHPRENAME  8172 non-null   object
dtypes: int64(10), object(7)
memory usage: 1.1+ MB
=                                                                                                        =
==========================================================================================================
==========================================================================================================
=                                                                                                        =
= vpictrailerdecode
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1313 entries, 0 to 1312
Data columns (total 40 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   STATE                           1313 non-null   int64
 1   STATENAME                       1313 non-null   object
 2   ST_CASE                         1313 non-null   int64
 3   VEH_NO                          1313 non-null   int64
 4   TRAILER_NO                      1313 non-null   int64
 5   VehicleDescriptor               1313 non-null   object
 6   VINDecodedOn                    1313 non-null   object
 7   VINDecodeError                  1313 non-null   object
 8   VehicleTypeId                   1313 non-null   int64
 9   VehicleType                     1313 non-null   object
 10  ManufacturerFullNameId          1313 non-null   int64
 11  ManufacturerFullName            1313 non-null   object
 12  MakeId                          1313 non-null   int64
 13  Make                            1313 non-null   object
 14  ModelId                         1279 non-null   float64
 15  Model                           1279 non-null   object
 16  ModelYear                       1313 non-null   int64
 17  Series                          60 non-null     object
 18  Trim                            2 non-null      object
 19  PlantCountryId                  1309 non-null   float64
 20  PlantCountry                    1309 non-null   object
 21  PlantState                      1283 non-null   object
 22  PlantCity                       1297 non-null   object
 23  PlantCompanyName                119 non-null    object
 24  Note                            174 non-null    object
 25  BodyClassId                     1216 non-null   float64
 26  BodyClass                       1216 non-null   object
 27  GrossVehicleWeightRatingFromId  56 non-null     float64
 28  GrossVehicleWeightRatingFrom    56 non-null     object
 29  GrossVehicleWeightRatingToId    8 non-null      float64
 30  GrossVehicleWeightRatingTo      8 non-null      object
 31  TrailerBodyTypeId               1109 non-null   float64
 32  TrailerBodyType                 1109 non-null   object
 33  TrailerTypeConnectionId         714 non-null    float64
 34  TrailerTypeConnection           714 non-null    object
 35  TrailerLengthFT                 1264 non-null   float64
 36  OtherTrailerInfo                707 non-null    object
 37  AxlesCount                      1293 non-null   float64
 38  AxleConfigurationId             48 non-null     float64
 39  AxleConfiguration               48 non-null     object
dtypes: float64(10), int64(8), object(22)
memory usage: 410.4+ KB
=                                                                                                        =
==========================================================================================================
==========================================================================================================
=                                                                                                        =
= pbtype
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8103 entries, 0 to 8102
Data columns (total 45 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   STATE          8103 non-null   int64
 1   STATENAME      8103 non-null   object
 2   ST_CASE        8103 non-null   int64
 3   VEH_NO         8103 non-null   int64
 4   PER_NO         8103 non-null   int64
 5   PBPTYPE        8103 non-null   int64
 6   PBPTYPENAME    8103 non-null   object
 7   PBAGE          8103 non-null   int64
 8   PBAGENAME      8103 non-null   object
 9   PBSEX          8103 non-null   int64
 10  PBSEXNAME      8103 non-null   object
 11  PBCWALK        8103 non-null   int64
 12  PBCWALKNAME    8103 non-null   object
 13  PBSWALK        8103 non-null   int64
 14  PBSWALKNAME    8103 non-null   object
 15  PBSZONE        8103 non-null   int64
 16  PBSZONENAME    8103 non-null   object
 17  PEDCTYPE       8103 non-null   int64
 18  PEDCTYPENAME   8103 non-null   object
 19  BIKECTYPE      8103 non-null   int64
 20  BIKECTYPENAME  8103 non-null   object
 21  PEDLOC         8103 non-null   int64
 22  PEDLOCNAME     8103 non-null   object
 23  BIKELOC        8103 non-null   int64
 24  BIKELOCNAME    8103 non-null   object
 25  PEDPOS         8103 non-null   int64
 26  PEDPOSNAME     8103 non-null   object
 27  BIKEPOS        8103 non-null   int64
 28  BIKEPOSNAME    8103 non-null   object
 29  PEDDIR         8103 non-null   int64
 30  PEDDIRNAME     8103 non-null   object
 31  BIKEDIR        8103 non-null   int64
 32  BIKEDIRNAME    8103 non-null   object
 33  MOTDIR         8103 non-null   int64
 34  MOTDIRNAME     8103 non-null   object
 35  MOTMAN         8103 non-null   int64
 36  MOTMANNAME     8103 non-null   object
 37  PEDLEG         8103 non-null   int64
 38  PEDLEGNAME     8103 non-null   object
 39  PEDSNR         8103 non-null   object
 40  PEDSNRNAME     8103 non-null   object
 41  PEDCGP         8103 non-null   int64
 42  PEDCGPNAME     8103 non-null   object
 43  BIKECGP        8103 non-null   int64
 44  BIKECGPNAME    8103 non-null   object
dtypes: int64(23), object(22)
memory usage: 2.8+ MB
=                                                                                                        =
==========================================================================================================
==========================================================================================================
=                                                                                                        =
= midrvacc
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35683 entries, 0 to 35682
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ST_CASE  35683 non-null  int64
 1   A1       35683 non-null  int64
 2   A2       35683 non-null  int64
 3   A3       35683 non-null  int64
 4   A4       35683 non-null  int64
 5   A5       35683 non-null  int64
 6   A6       35683 non-null  int64
 7   A7       35683 non-null  int64
 8   A8       35683 non-null  int64
 9   A9       35683 non-null  int64
 10  A10      35683 non-null  int64
dtypes: int64(11)
memory usage: 3.0 MB
=                                                                                                        =
==========================================================================================================
==========================================================================================================
=                                                                                                        =
= miacc
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35766 entries, 0 to 35765
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ST_CASE  35766 non-null  int64
 1   A1       35766 non-null  int64
 2   A2       35766 non-null  int64
 3   A3       35766 non-null  int64
 4   A4       35766 non-null  int64
 5   A5       35766 non-null  int64
 6   A6       35766 non-null  int64
 7   A7       35766 non-null  int64
 8   A8       35766 non-null  int64
 9   A9       35766 non-null  int64
 10  A10      35766 non-null  int64
dtypes: int64(11)
memory usage: 3.0 MB
=                                                                                                        =
==========================================================================================================
==========================================================================================================
=                                                                                                        =
= damage
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235218 entries, 0 to 235217
Data columns (total 6 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   STATE       235218 non-null  int64
 1   STATENAME   235218 non-null  object
 2   ST_CASE     235218 non-null  int64
 3   VEH_NO      235218 non-null  int64
 4   DAMAGE      235218 non-null  int64
 5   DAMAGENAME  235218 non-null  object
dtypes: int64(4), object(2)
memory usage: 10.8+ MB
=                                                                                                        =
==========================================================================================================
==========================================================================================================
=                                                                                                        =
= accident
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35766 entries, 0 to 35765
Data columns (total 81 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   STATE         35766 non-null  int64
 1   STATENAME     35766 non-null  object
 2   ST_CASE       35766 non-null  int64
 3   VE_TOTAL      35766 non-null  int64
 4   VE_FORMS      35766 non-null  int64
 5   PVH_INVL      35766 non-null  int64
 6   PEDS          35766 non-null  int64
 7   PERSONS       35766 non-null  int64
 8   PERMVIT       35766 non-null  int64
 9   PERNOTMVIT    35766 non-null  int64
 10  COUNTY        35766 non-null  int64
 11  COUNTYNAME    35766 non-null  object
 12  CITY          35766 non-null  int64
 13  CITYNAME      35766 non-null  object
 14  DAY           35766 non-null  int64
 15  DAYNAME       35766 non-null  int64
 16  MONTH         35766 non-null  int64
 17  MONTHNAME     35766 non-null  object
 18  YEAR          35766 non-null  int64
 19  DAY_WEEK      35766 non-null  int64
 20  DAY_WEEKNAME  35766 non-null  object
 21  HOUR          35766 non-null  int64
 22  HOURNAME      35766 non-null  object
 23  MINUTE        35766 non-null  int64
 24  MINUTENAME    35766 non-null  object
 25  NHS           35766 non-null  int64
 26  NHSNAME       35766 non-null  object
 27  ROUTE         35766 non-null  int64
 28  ROUTENAME     35766 non-null  object
 29  TWAY_ID       35766 non-null  object
 30  TWAY_ID2      8769 non-null   object
 31  RUR_URB       35766 non-null  int64
 32  RUR_URBNAME   35766 non-null  object
 33  FUNC_SYS      35766 non-null  int64
 34  FUNC_SYSNAME  35766 non-null  object
 35  RD_OWNER      35766 non-null  int64
 36  RD_OWNERNAME  35766 non-null  object
 37  MILEPT        35766 non-null  int64
 38  MILEPTNAME    35766 non-null  object
 39  LATITUDE      35766 non-null  float64
 40  LATITUDENAME  35766 non-null  object
 41  LONGITUD      35766 non-null  float64
 42  LONGITUDNAME  35766 non-null  object
 43  SP_JUR        35766 non-null  int64
 44  SP_JURNAME    35766 non-null  object
 45  HARM_EV       35766 non-null  int64
 46  HARM_EVNAME   35766 non-null  object
 47  MAN_COLL      35766 non-null  int64
 48  MAN_COLLNAME  35766 non-null  object
 49  RELJCT1       35766 non-null  int64
 50  RELJCT1NAME   35766 non-null  object
 51  RELJCT2       35766 non-null  int64
 52  RELJCT2NAME   35766 non-null  object
 53  TYP_INT       35766 non-null  int64
 54  TYP_INTNAME   35766 non-null  object
 55  WRK_ZONE      35766 non-null  int64
 56  WRK_ZONENAME  35766 non-null  object
 57  REL_ROAD      35766 non-null  int64
 58  REL_ROADNAME  35766 non-null  object
 59  LGT_COND      35766 non-null  int64
 60  LGT_CONDNAME  35766 non-null  object
 61  WEATHER       35766 non-null  int64
 62  WEATHERNAME   35766 non-null  object
 63  SCH_BUS       35766 non-null  int64
 64  SCH_BUSNAME   35766 non-null  object
 65  RAIL          35766 non-null  object
 66  RAILNAME      35766 non-null  object
 67  NOT_HOUR      35766 non-null  int64
 68  NOT_HOURNAME  35766 non-null  object
 69  NOT_MIN       35766 non-null  int64
 70  NOT_MINNAME   35766 non-null  object
 71  ARR_HOUR      35766 non-null  int64
 72  ARR_HOURNAME  35766 non-null  object
 73  ARR_MIN       35766 non-null  int64
 74  ARR_MINNAME   35766 non-null  object
 75  HOSP_HR       35766 non-null  int64
 76  HOSP_HRNAME   35766 non-null  object
 77  HOSP_MN       35766 non-null  int64
 78  HOSP_MNNAME   35766 non-null  object
 79  FATALS        35766 non-null  int64
 80  DRUNK_DR      35766 non-null  int64
dtypes: float64(2), int64(43), object(36)
memory usage: 22.1+ MB
=                                                                                                        =
==========================================================================================================
==========================================================================================================
=                                                                                                        =
= vsoe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123031 entries, 0 to 123030
Data columns (total 9 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   STATE      123031 non-null  int64
 1   STATENAME  123031 non-null  object
 2   ST_CASE    123031 non-null  int64
 3   VEH_NO     123031 non-null  int64
 4   VEVENTNUM  123031 non-null  int64
 5   SOE        123031 non-null  int64
 6   SOENAME    123031 non-null  object
 7   AOI        123031 non-null  int64
 8   AOINAME    123031 non-null  object
dtypes: int64(6), object(3)
memory usage: 8.4+ MB
=                                                                                                        =
==========================================================================================================
==========================================================================================================
=                                                                                                        =
= vpicdecode
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52890 entries, 0 to 52889
Columns: 202 entries, STATE to ActiveSafetySysNote
dtypes: float64(106), int64(7), object(89)
memory usage: 81.5+ MB
=                                                                                                        =
==========================================================================================================
==========================================================================================================
=                                                                                                        =
= crashrf
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36026 entries, 0 to 36025
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   STATE        36026 non-null  int64
 1   STATENAME    36026 non-null  object
 2   ST_CASE      36026 non-null  int64
 3   CRASHRF      36026 non-null  int64
 4   CRASHRFNAME  36026 non-null  object
dtypes: int64(3), object(2)
memory usage: 1.4+ MB
=                                                                                                        =
==========================================================================================================
==========================================================================================================
=                                                                                                        =
= drimpair
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54448 entries, 0 to 54447
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   STATE         54448 non-null  int64
 1   STATENAME     54448 non-null  object
 2   ST_CASE       54448 non-null  int64
 3   VEH_NO        54448 non-null  int64
 4   DRIMPAIR      54448 non-null  int64
 5   DRIMPAIRNAME  54448 non-null  object
dtypes: int64(4), object(2)
memory usage: 2.5+ MB
=                                                                                                        =
==========================================================================================================
==========================================================================================================
=                                                                                                        =
= nmimpair
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8190 entries, 0 to 8189
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   STATE         8190 non-null   int64
 1   STATENAME     8190 non-null   object
 2   ST_CASE       8190 non-null   int64
 3   VEH_NO        8190 non-null   int64
 4   PER_NO        8190 non-null   int64
 5   NMIMPAIR      8190 non-null   int64
 6   NMIMPAIRNAME  8190 non-null   object
dtypes: int64(5), object(2)
memory usage: 448.0+ KB
=                                                                                                        =
==========================================================================================================
==========================================================================================================
=                                                                                                        =
= parkwork
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1527 entries, 0 to 1526
Columns: 114 entries, STATE to PTRLR3GVWRNAME
dtypes: int64(49), object(65)
memory usage: 1.3+ MB
=                                                                                                        =
==========================================================================================================
==========================================================================================================
=                                                                                                        =
= driverrf
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59958 entries, 0 to 59957
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   STATE         59958 non-null  int64
 1   STATENAME     59958 non-null  object
 2   ST_CASE       59958 non-null  int64
 3   VEH_NO        59958 non-null  int64
 4   DRIVERRF      59958 non-null  int64
 5   DRIVERRFNAME  59958 non-null  object
dtypes: int64(4), object(2)
memory usage: 2.7+ MB

In [13]:
print("                               C    R    S    S                                                           ")
for idx in crssDf.keys():
    print("==========================================================================================================")
    print("=                                                                                                        =")
    print("=",idx)
    crssDf[idx].info()
    print("=                                                                                                        =")
    print("==========================================================================================================")

==========================================================================================================
=                                                                                                        =
= safetyeq
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5077 entries, 0 to 5076
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CASENUM         5077 non-null   int64
 1   VEH_NO          5077 non-null   int64
 2   PER_NO          5077 non-null   int64
 3   STRATUM         5077 non-null   int64
 4   STRATUMNAME     5077 non-null   object
 5   REGION          5077 non-null   int64
 6   REGIONNAME      5077 non-null   object
 7   PSU             5077 non-null   int64
 8   PJ              5077 non-null   int64
 9   PSU_VAR         5077 non-null   int64
 10  URBANICITY      5077 non-null   int64
 11  URBANICITYNAME  5077 non-null   object
 12  NMHELMET        5077 non-null   int64
 13  NMHELMETNAME    5077 non-null   object
 14  NMPROPAD        5077 non-null   int64
 15  NMPROPADNAME    5077 non-null   object
 16  NMOTHPRO        5077 non-null   int64
 17  NMOTHPRONAME    5077 non-null   object
 18  NMREFCLO        5077 non-null   int64
 19  NMREFCLONAME    5077 non-null   object
 20  NMLIGHT         5077 non-null   int64
 21  NMLIGHTNAME     5077 non-null   object
 22  NMOTHPRE        5077 non-null   int64
 23  NMOTHPRENAME    5077 non-null   object
 24  PSUSTRAT        5077 non-null   int64
 25  WEIGHT          5077 non-null   float64
dtypes: float64(1), int64(16), object(9)
memory usage: 1.0+ MB
=                                                                                                        =
==========================================================================================================
==========================================================================================================
=                                                                                                        =
= vpictrailerdecode
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 373 entries, 0 to 372
Data columns (total 38 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   CASENUM                         373 non-null    int64
 1   VEH_NO                          373 non-null    int64
 2   TRAILER_NO                      373 non-null    int64
 3   VehicleDescriptor               373 non-null    object
 4   VINDecodedOn                    373 non-null    object
 5   VINDecodeError                  373 non-null    int64
 6   VehicleTypeId                   373 non-null    int64
 7   VehicleType                     373 non-null    object
 8   ManufacturerFullNameId          373 non-null    int64
 9   ManufacturerFullName            373 non-null    object
 10  MakeId                          373 non-null    int64
 11  Make                            373 non-null    object
 12  ModelId                         360 non-null    float64
 13  Model                           360 non-null    object
 14  ModelYear                       373 non-null    int64
 15  Series                          16 non-null     object
 16  Trim                            0 non-null      float64
 17  PlantCountryId                  369 non-null    float64
 18  PlantCountry                    369 non-null    object
 19  PlantState                      361 non-null    object
 20  PlantCity                       367 non-null    object
 21  PlantCompanyName                30 non-null     object
 22  Note                            41 non-null     object
 23  BodyClassId                     336 non-null    float64
 24  BodyClass                       336 non-null    object
 25  GrossVehicleWeightRatingFromId  20 non-null     float64
 26  GrossVehicleWeightRatingFrom    20 non-null     object
 27  GrossVehicleWeightRatingToId    1 non-null      float64
 28  GrossVehicleWeightRatingTo      1 non-null      object
 29  TrailerBodyTypeId               313 non-null    float64
 30  TrailerBodyType                 313 non-null    object
 31  TrailerTypeConnectionId         0 non-null      float64
 32  TrailerTypeConnection           208 non-null    object
 33  TrailerLengthFT                 360 non-null    float64
 34  OtherTrailerInfo                179 non-null    object
 35  AxlesCount                      370 non-null    float64
 36  AxleConfigurationId             17 non-null     float64
 37  AxleConfiguration               17 non-null     object
dtypes: float64(11), int64(8), object(19)
memory usage: 110.9+ KB
=                                                                                                        =
==========================================================================================================
==========================================================================================================
=                                                                                                        =
= vehicle
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94718 entries, 0 to 94717
Columns: 167 entries, CASENUM to WEIGHT
dtypes: float64(1), int64(83), object(83)
memory usage: 120.7+ MB
=                                                                                                        =
==========================================================================================================
==========================================================================================================
=                                                                                                        =
= pbtype
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5039 entries, 0 to 5038
Data columns (total 54 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CASENUM         5039 non-null   int64
 1   VEH_NO          5039 non-null   int64
 2   PER_NO          5039 non-null   int64
 3   STRATUM         5039 non-null   int64
 4   STRATUMNAME     5039 non-null   object
 5   REGION          5039 non-null   int64
 6   REGIONNAME      5039 non-null   object
 7   PSU             5039 non-null   int64
 8   PJ              5039 non-null   int64
 9   PSU_VAR         5039 non-null   int64
 10  URBANICITY      5039 non-null   int64
 11  URBANICITYNAME  5039 non-null   object
 12  PBPTYPE         5039 non-null   int64
 13  PBPTYPENAME     5039 non-null   object
 14  PBAGE           5039 non-null   int64
 15  PBAGENAME       5039 non-null   object
 16  PBSEX           5039 non-null   int64
 17  PBSEXNAME       5039 non-null   object
 18  PBCWALK         5039 non-null   int64
 19  PBCWALKNAME     5039 non-null   object
 20  PBSWALK         5039 non-null   int64
 21  PBSWALKNAME     5039 non-null   object
 22  PBSZONE         5039 non-null   int64
 23  PBSZONENAME     5039 non-null   object
 24  PEDCTYPE        5039 non-null   int64
 25  PEDCTYPENAME    5039 non-null   object
 26  BIKECTYPE       5039 non-null   int64
 27  BIKECTYPENAME   5039 non-null   object
 28  PEDLOC          5039 non-null   int64
 29  PEDLOCNAME      5039 non-null   object
 30  BIKELOC         5039 non-null   int64
 31  BIKELOCNAME     5039 non-null   object
 32  PEDPOS          5039 non-null   int64
 33  PEDPOSNAME      5039 non-null   object
 34  BIKEPOS         5039 non-null   int64
 35  BIKEPOSNAME     5039 non-null   object
 36  PEDDIR          5039 non-null   int64
 37  PEDDIRNAME      5039 non-null   object
 38  BIKEDIR         5039 non-null   int64
 39  BIKEDIRNAME     5039 non-null   object
 40  MOTDIR          5039 non-null   int64
 41  MOTDIRNAME      5039 non-null   object
 42  MOTMAN          5039 non-null   int64
 43  MOTMANNAME      5039 non-null   object
 44  PEDLEG          5039 non-null   int64
 45  PEDLEGNAME      5039 non-null   object
 46  PEDSNR          5039 non-null   object
 47  PEDSNRNAME      5039 non-null   object
 48  PEDCGP          5039 non-null   int64
 49  PEDCGPNAME      5039 non-null   object
 50  BIKECGP         5039 non-null   int64
 51  BIKECGPNAME     5039 non-null   object
 52  PSUSTRAT        5039 non-null   int64
 53  WEIGHT          5039 non-null   float64
dtypes: float64(1), int64(29), object(24)
memory usage: 2.1+ MB
=                                                                                                        =
==========================================================================================================
==========================================================================================================
=                                                                                                        =
= damage
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198616 entries, 0 to 198615
Data columns (total 15 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   CASENUM         198616 non-null  int64
 1   VEH_NO          198616 non-null  int64
 2   STRATUM         198616 non-null  int64
 3   STRATUMNAME     198616 non-null  object
 4   REGION          198616 non-null  int64
 5   REGIONNAME      198616 non-null  object
 6   PSU             198616 non-null  int64
 7   PJ              198616 non-null  int64
 8   PSU_VAR         198616 non-null  int64
 9   URBANICITY      198616 non-null  int64
 10  URBANICITYNAME  198616 non-null  object
 11  DAMAGE          198616 non-null  int64
 12  DAMAGENAME      198616 non-null  object
 13  PSUSTRAT        198616 non-null  int64
 14  WEIGHT          198616 non-null  float64
dtypes: float64(1), int64(10), object(4)
memory usage: 22.7+ MB
=                                                                                                        =
==========================================================================================================
==========================================================================================================
=                                                                                                        =
= accident
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54745 entries, 0 to 54744
Data columns (total 80 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CASENUM         54745 non-null  int64
 1   STRATUM         54745 non-null  int64
 2   STRATUMNAME     54745 non-null  object
 3   REGION          54745 non-null  int64
 4   REGIONNAME      54745 non-null  object
 5   PSU             54745 non-null  int64
 6   PJ              54745 non-null  int64
 7   PSU_VAR         54745 non-null  int64
 8   URBANICITY      54745 non-null  int64
 9   URBANICITYNAME  54745 non-null  object
 10  VE_TOTAL        54745 non-null  int64
 11  VE_FORMS        54745 non-null  int64
 12  PVH_INVL        54745 non-null  int64
 13  PEDS            54745 non-null  int64
 14  PERMVIT         54745 non-null  int64
 15  PERNOTMVIT      54745 non-null  int64
 16  NUM_INJ         54745 non-null  int64
 17  NUM_INJNAME     54745 non-null  object
 18  MONTH           54745 non-null  int64
 19  MONTHNAME       54745 non-null  object
 20  YEAR            54745 non-null  int64
 21  YEARNAME        54745 non-null  int64
 22  DAY_WEEK        54745 non-null  int64
 23  DAY_WEEKNAME    54745 non-null  object
 24  HOUR            54745 non-null  int64
 25  HOURNAME        54745 non-null  object
 26  MINUTE          54745 non-null  int64
 27  MINUTENAME      54745 non-null  object
 28  HARM_EV         54745 non-null  int64
 29  HARM_EVNAME     54745 non-null  object
 30  ALCOHOL         54745 non-null  int64
 31  ALCOHOLNAME     54745 non-null  object
 32  MAX_SEV         54745 non-null  int64
 33  MAX_SEVNAME     54745 non-null  object
 34  MAN_COLL        54745 non-null  int64
 35  MAN_COLLNAME    54745 non-null  object
 36  RELJCT1         54745 non-null  int64
 37  RELJCT1NAME     54745 non-null  object
 38  RELJCT2         54745 non-null  int64
 39  RELJCT2NAME     54745 non-null  object
 40  TYP_INT         54745 non-null  int64
 41  TYP_INTNAME     54745 non-null  object
 42  WRK_ZONE        54745 non-null  int64
 43  WRK_ZONENAME    54745 non-null  object
 44  REL_ROAD        54745 non-null  int64
 45  REL_ROADNAME    54745 non-null  object
 46  LGT_COND        54745 non-null  int64
 47  LGT_CONDNAME    54745 non-null  object
 48  SCH_BUS         54745 non-null  int64
 49  SCH_BUSNAME     54745 non-null  object
 50  INT_HWY         54745 non-null  int64
 51  INT_HWYNAME     54745 non-null  object
 52  WEATHER         54745 non-null  int64
 53  WEATHERNAME     54745 non-null  object
 54  WKDY_IM         54745 non-null  int64
 55  WKDY_IMNAME     54745 non-null  object
 56  HOUR_IM         54745 non-null  int64
 57  HOUR_IMNAME     54745 non-null  object
 58  MINUTE_IM       54745 non-null  int64
 59  MINUTE_IMNAME   54745 non-null  int64
 60  EVENT1_IM       54745 non-null  int64
 61  EVENT1_IMNAME   54745 non-null  object
 62  MANCOL_IM       54745 non-null  int64
 63  MANCOL_IMNAME   54745 non-null  object
 64  RELJCT1_IM      54745 non-null  int64
 65  RELJCT1_IMNAME  54745 non-null  object
 66  RELJCT2_IM      54745 non-null  int64
 67  RELJCT2_IMNAME  54745 non-null  object
 68  LGTCON_IM       54745 non-null  int64
 69  LGTCON_IMNAME   54745 non-null  object
 70  WEATHR_IM       54745 non-null  int64
 71  WEATHR_IMNAME   54745 non-null  object
 72  MAXSEV_IM       54745 non-null  int64
 73  MAXSEV_IMNAME   54745 non-null  object
 74  NO_INJ_IM       54745 non-null  int64
 75  NO_INJ_IMNAME   54745 non-null  object
 76  ALCHL_IM        54745 non-null  int64
 77  ALCHL_IMNAME    54745 non-null  object
 78  PSUSTRAT        54745 non-null  int64
 79  WEIGHT          54745 non-null  float64
dtypes: float64(1), int64(47), object(32)
memory usage: 33.4+ MB
=                                                                                                        =
==========================================================================================================
==========================================================================================================
=                                                                                                        =
= vsoe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137083 entries, 0 to 137082
Data columns (total 18 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   CASENUM         137083 non-null  int64
 1   VEH_NO          137083 non-null  int64
 2   STRATUM         137083 non-null  int64
 3   STRATUMNAME     137083 non-null  object
 4   REGION          137083 non-null  int64
 5   REGIONNAME      137083 non-null  object
 6   PSU             137083 non-null  int64
 7   PJ              137083 non-null  int64
 8   PSU_VAR         137083 non-null  int64
 9   URBANICITY      137083 non-null  int64
 10  URBANICITYNAME  137083 non-null  object
 11  VEVENTNUM       137083 non-null  int64
 12  SOE             137083 non-null  int64
 13  SOENAME         137083 non-null  object
 14  AOI             137083 non-null  int64
 15  AOINAME         137083 non-null  object
 16  PSUSTRAT        137083 non-null  int64
 17  WEIGHT          137083 non-null  float64
dtypes: float64(1), int64(12), object(5)
memory usage: 18.8+ MB
=                                                                                                        =
==========================================================================================================
==========================================================================================================
=                                                                                                        =
= vpicdecode
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80526 entries, 0 to 80525
Columns: 200 entries, CASENUM to ActiveSafetySysNote
dtypes: float64(104), int64(8), object(88)
memory usage: 122.9+ MB
=                                                                                                        =
==========================================================================================================
==========================================================================================================
=                                                                                                        =
= crashrf
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54879 entries, 0 to 54878
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CASENUM         54879 non-null  int64
 1   STRATUM         54879 non-null  int64
 2   STRATUMNAME     54879 non-null  object
 3   REGION          54879 non-null  int64
 4   REGIONNAME      54879 non-null  object
 5   PSU             54879 non-null  int64
 6   PJ              54879 non-null  int64
 7   PSU_VAR         54879 non-null  int64
 8   URBANICITY      54879 non-null  int64
 9   URBANICITYNAME  54879 non-null  object
 10  CRASHRF         54879 non-null  int64
 11  CRASHRFNAME     54879 non-null  object
 12  PSUSTRAT        54879 non-null  int64
 13  WEIGHT          54879 non-null  float64
dtypes: float64(1), int64(9), object(4)
memory usage: 5.9+ MB
=                                                                                                        =
==========================================================================================================
==========================================================================================================
=                                                                                                        =
= drimpair
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94868 entries, 0 to 94867
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CASENUM         94868 non-null  int64
 1   VEH_NO          94868 non-null  int64
 2   STRATUM         94868 non-null  int64
 3   STRATUMNAME     94868 non-null  object
 4   REGION          94868 non-null  int64
 5   REGIONNAME      94868 non-null  object
 6   PSU             94868 non-null  int64
 7   PJ              94868 non-null  int64
 8   PSU_VAR         94868 non-null  int64
 9   URBANICITY      94868 non-null  int64
 10  URBANICITYNAME  94868 non-null  object
 11  DRIMPAIR        94868 non-null  int64
 12  DRIMPAIRNAME    94868 non-null  object
 13  PSUSTRAT        94868 non-null  int64
 14  WEIGHT          94868 non-null  float64
dtypes: float64(1), int64(10), object(4)
memory usage: 10.9+ MB
=                                                                                                        =
==========================================================================================================
==========================================================================================================
=                                                                                                        =
= nmimpair
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5080 entries, 0 to 5079
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CASENUM         5080 non-null   int64
 1   VEH_NO          5080 non-null   int64
 2   PER_NO          5080 non-null   int64
 3   STRATUM         5080 non-null   int64
 4   STRATUMNAME     5080 non-null   object
 5   REGION          5080 non-null   int64
 6   REGIONNAME      5080 non-null   object
 7   PSU             5080 non-null   int64
 8   PJ              5080 non-null   int64
 9   PSU_VAR         5080 non-null   int64
 10  URBANICITY      5080 non-null   int64
 11  URBANICITYNAME  5080 non-null   object
 12  NMIMPAIR        5080 non-null   int64
 13  NMIMPAIRNAME    5080 non-null   object
 14  PSUSTRAT        5080 non-null   int64
 15  WEIGHT          5080 non-null   float64
dtypes: float64(1), int64(11), object(4)